@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*,
*:before,
*:after {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Architects Daughter', 'Arial', serif;
  height: 100%;
  position: relative;
}

.banner {
  color:#fff;
  padding:1.5rem;
  top:2.5rem;
  background: #000;
  box-shadow: 0px 1px 15px 2px rgba(0,0,0,.35);
  border-radius: .5rem;
  margin-bottom: 3.2rem;
}

.main-title {
  font-size: 6rem;
  text-align: center;
  margin-top: 2.5rem;
}

/* CONTAINER  */
.guess-container {
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;

}
/*  FONT SIZING  OUTPUT */
.guess-remaining {
  position: relative;
}
.guess-word__output {font-size: 6.5rem;}
.guess-remaining__value {font-size: 3rem;}
.guess-remaining__chars { font-size: 4rem; color:royalblue;}
.guess-remaining__chars {
  position: absolute;
  right: -55rem;
  top:18rem;
}
/* DIV GAME OPTIONS */
.game-options {
  display: flex;
  justify-content: center;
  /* position: relative; */
}
.game-options__button-reset {
  font-family: inherit;
  font-size: 2.5rem;
  padding: 1.5rem;
  background: 0;
  margin-top: 2rem;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 2rem;
  transition: all .2s;
  cursor: pointer;
  background: rgba(0,0,0,.05);
}
.game-options__button-reset:hover {
  border: 1px solid rgba(0,0,0,0.45);
  background: 0;
}



/* DIV GAME OPTIONS -> DIFFICULTY OPTIONS */
.game-options .game-options__difficulty-options {
  font-size: 2.5rem;
  position: absolute;
  right:25rem;
  top:10rem;
  height: auto;
  border:1px solid rgba(0,0,0,.08);
  box-shadow: 2px 1px 3px  rgba(0,0,0,.08);
  padding: 3rem;
  z-index: 2;
  text-align: center;
}
.sub-title {
  font-size: 2.8rem;
}

/* HANGMAN CHAR */

.character {
  height: 70rem;
  width: 50rem;
  border:1px solid  rgba(0,0,0,.25);
  box-shadow: 2px 1px 3px  rgba(0,0,0,.25);
  margin: 3rem auto;
  position: relative;
  /* top:-8rem */
}

.character * {
  background: #000;
  visibility: hidden;
}
/* used by js */
.js-showCharacter {
  visibility: visible;
}

.stand {
  width: 15rem;
  height: 2rem;
  position: absolute;
  bottom:0;
  right: 3rem;
}
.pole {
  position: absolute;
  height: 50rem;
  width: 2rem;
  right:10rem;
  bottom:0;
}
.poleTwo {
  position: absolute;
  width: 2rem;
  right:9rem;
  top:19rem;
  height: 2rem;
  width: 15rem;
}
.hang {
  position: absolute;
  width: 2rem;
  right:18.5rem;
  top:25.5rem;
  height: 1rem;
  width: 10rem;
  transform:rotate(90deg);
}

.head {
  position: absolute;
  height: 9rem;
  width: 9rem;
  background: 0;
  border: 4px solid;
  border-radius: 100%;
  top:30rem;
  right:19rem;
}

.eye,
.eyeTwo {
  height: 3rem;
  width: .5rem;
  position: absolute;
  top:32rem;
  transform:rotate(45deg);
  left:24rem;
}
.eye:before {
  content:'';
  display: block;
  height: 3rem;
  width: .5rem;
  top:0;
  position: absolute;
  transform:rotate(-65deg);
  background: #000;
}
.eyeTwo {
  top:32rem;
  transform:rotate(45deg);
  left:28rem;
}
.eyeTwo:before {
  content:'';
  display: block;
  height: 3rem;
  width: .5rem;
  top:0;
  position: absolute;
  transform:rotate(-65deg);
  background: #000;
}


.body {
  width: .6rem;
  height: 15rem;
  position: absolute;
  right:23.5rem;
  top: 38.5rem;
}

.arm,
.armTwo{
  position: absolute;
  /* top:38.5rem; */
  /* right: 23.5rem; */
  top:40rem;
  left:22rem;
  width: .6rem;
  height: 10rem;
  transform:rotate(45deg)
}
.armTwo {
  transform:rotate(-45deg);
  left:29rem;
}

.leg,
.legTwo {
  position: absolute;
  top:53rem;
  right: 23.5rem;
  width: .6rem;
  height: 14rem;
}
.leg { 
  transform: rotate(45deg);
  left: 21rem;
  top: 51rem;
}
.legTwo { 
  left: 30rem;
  top:51rem;
  transform: rotate(-45deg)
}



/*  MEDIA QUERIES  */
@media only screen and (max-width: 20em) {
  .main-title { font-size: 4rem; }
  .guess-word__output { font-size: 2.5rem; }
  .guess-remaining__value { font-size: 1.8rem; }
  .guess-remaining__chars { font-size: 1.8rem; color:royalblue; }
}

@media only screen and (max-width: 37.5em) {
  .main-title { font-size: 5rem;}
  .guess-word__output { font-size: 2.5rem; }
  .guess-remaining__value { font-size: 2.5rem; }
  .guess-remaining__chars { font-size: 2rem; color:royalblue; }
}

